


<div class="container" data-ng-controller="bookingRequestCtrl">
<div class="form-group">
 
  <div class="col-md-4">
    <button id="singlebutton" name="singlebutton" class="btn btn-primary" ng-click="requestRoom()">Request for Booking</button>
  </div>
</div></p>
    </div>
    <div id="menu1" class="tab-pane fade">
      <h3>My Bookings</h3>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
   
  </div>
</div>
