<div class="panel panel-info" ng-controller="bookingRequestCtrl">
<div class="panel-heading">Book Meeting Room</div>
<div class="panel-body">  <!-- Select Category -->

    <select class="col-md-6 form-control" id="category" data-ng-model="roomid">
      <option ng-repeat="room in rooms" ng-value="room.id">{{room.roomName}}</option>
    </select>
    <select class="col-md-6  form-control" id="category" data-ng-model="category" name="category">
      <option value="TRAINING">Training</option>
      <option value="OPEN_PROGRAM">Open Program</option>
       <option value="BUSINESS_UNIT_PROGRAM">Business Unit Program</option>
    </select>
    <input name="name"  data-ng-model="subject" type="text" ng-model-options="{ 'updateOn': 'blur'}"  class="form-control input-md" required>
 		 <input id="startDate" data-ng-model="startDate" name="startDate" type="datetime-local" placeholder="Start Date" class="form-control input-md">
		 <input id="endDate" data-ng-model="endDate" name="endDate"  type="datetime-local" placeholder="End Date" class="form-control input-md">
     <button name="singlebutton" class="btn btn-primary" data-ng-click="requestRoom()">Request for Booking</button>
  </div>
</div>
