<div>
<form name="RegistrationForm" class="form-horizontal" ng-controller="createUserController" novalidate>
<fieldset>

<!-- Form Name -->
<legend>User Registration Form</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="name">Enter Username</label>  
  <div class="col-md-4">
  <input id="name" name="name"  ng-model="name" type="text"  class="form-control input-md" required>
  <span style="color:red" ng-show="RegistrationForm.name.$dirty && RegistrationForm.name.$invalid">
  <span ng-show="RegistrationForm.name.$error.required">Username is required.</span>
   </span> 
  </div>
</div>

<!--  Rights of the User-->
<div class="form-group">
  <label class="col-md-4 control-label" for="radios">Rights:</label>
  <div class="col-md-4"> 
    <label class="radio-inline" for="radios-0">
      <input type="radio" name="rights" id="admin" value="0" checked="checked">
      Admin
    </label> 
    <label class="radio-inline" for="radios-1">
      <input type="radio" name="rights" id="subAdmin" value="1">
      Sub-Admin
    </label> 
    <label class="radio-inline" for="radios-2">
      <input type="radio" name="rights" id="user" value="2">
      User 
    </label> 
  
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="email_Id">Enter Email Id</label>  
  <div class="col-md-4">
  <input id="email_Id" name="email_Id" ng-model="email_Id" type="text" placeholder="abc@example.com" class="form-control input-md" required>
  <span style="color:red" ng-show="RegistrationForm.email_Id.$dirty && RegistrationForm.email_Id.$invalid">
  <span ng-show="RegistrationForm.email_Id.$error.required">Email is required.</span>
    <span ng-show="RegistrationForm.email_Id.$error.$invalid">Invalid email address.</span>

  </span>
  
  </div>
</div>



<!-- Password input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="password">Enter Password</label>
  <div class="col-md-4">
    <input id="password" name="password" ng-model="password" type="password" ng-minlength="6" class="form-control input-md" 
    	required pattern=".{2,}" >
  <span style="color:red" ng-show="RegistrationForm.password.$dirty && RegistrationForm.password.$invalid">
   <span  ng-show="RegistrationForm.password.$error.minlength">Password should have atleast 6 characters</span>
    <span ng-show="RegistrationForm.password.$error.required">Password is required.</span>
    </span>
    
  </div>
</div>

<!-- Password input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="confirmPassword">Confirm Password</label>
  <div class="col-md-4">
    <input id="confirmPassword" name="confirmPassword" ng-model="confirmPassword" type="password"  class="form-control input-md" 
    wj-validation-error="chkPwd != thePwd ? 'Passwords don\'t match' : ''" required>
  <span style="color:red" ng-show="RegistrationForm.confirmPassword.$dirty && RegistrationForm.confirmPassword.$invalid">
    <span ng-show="RegistrationForm.confirmPassword.$error.required">Retype is required.</span>
    </span>
    
  </div>
</div>

  <!-- Button (Double) -->
<div class="form-group col-md-offset-4">
  <label class="col-md-4 control-label" for="btn_register"></label>
  <div class="col-md-8">

    <button id="btn_register" name="btn_register" class="btn btn-primary" ng-click="register()" ng-disabled="RegistrationForm.name.$dirty && RegistrationForm.name.$invalid ||
  RegistrationForm.email_Id.$dirty && RegistrationForm.email_Id.$invalid">Register</button>
    <button id="btn_cancel" name="btn_cancel" class="btn btn-primary" ng-click="cancel()">Cancel</button>
  </div>
</div>

</div>

</fieldset>
</form>

</div>