<div class="panel panel-info" data-ng-controller="displayUserCtrl">
	<div class="panel-heading">
	Display of All users
	</div>
	<div class="panel-body">
	<div class="form-group">
	<label>Enter Some Text to Search for a user</label>
	<input class="form-control input-md" type="text" placeholder="Enter Some Text to Search for a user" data-ng-model="text">
	</div>
	<table class="table table-striped">
		<tr>
			<td>ID</td>
			<td>Name</td>
			<td>Type</td>
			<td>Email</td>
			<td>Actions</td>
		</tr>
		<tr data-ng-repeat="user in users|filter:text">
			<td>{{$index+1}}</td>
			<td>{{user.name}}</td>
			<td>{{user.rights===1?"Sub Admin":"Normal User"}}</td>
			<td>{{user.email}}</td>
			<td><button class="btn btn-info" data-ng-click="confirm(user.id)" accesskey="d"> <span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
			<button class="btn btn-info" data-ng-click="makeAdmin(user.id)" accesskey="a"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></button></td>
		</tr>
	</table>
		<div class="col-md-offset-5">
		<div class="btn-group">
          <a class="btn btn-default" ng-click="previous()" ng-show="range!=0"><i class="fa fa-arrow-left"></i></a>
   		  <a class="btn btn-default">{{range}}</a>
          <a class="btn btn-default" ng-click="next()"><i class="fa fa-arrow-right"></i></a>
        </div>
	</div>

	</div>
</div>