<div class="panel panel-info" data-ng-controller="displayUserCtrl">
	<div class="panel-heading">
		Display of All users
	</div>
	<div class="panel-body">
		<div class="form-group col-md-4">
			<input class="form-control input-md" type="text" placeholder="Enter Users Name" data-ng-model="name">
		</div>
		<div class="form-group  col-md-4">
			<input class="form-control input-md" type="text" placeholder="Enter Email Id" data-ng-model="email">
		</div>
		<div class="form-group  col-md-4">
			<select class="form-control input-md"  ng-model="rights">
				<option value="">Nothing</option>
				<option value="2">User</option>
				<option value="1">SubAdmin</option>
			</select>
		</div>
		<table class="table table-striped">
			<tr>
				<td>Name <a ng-click="orderByField='name'; reverseSort = !reverseSort"><span class="glyphicon glyphicon-chevron-up"></span></a></td>
				<td>Type<a ng-click="orderByField='rights'; reverseSort = !reverseSort"><span class="glyphicon glyphicon-chevron-up"></span></a></td>
				<td>Email<a ng-click="orderByField='email'; reverseSort = !reverseSort"><span class="glyphicon glyphicon-chevron-up"></span></a></td>
				<td>Actions</td>
			</tr>
			<tr data-ng-repeat="user in users |orderBy:orderByField:reverseSort|filter:{'rights':rights}|filter:{'name':name}|filter:{'email':email}">
				<td>{{user.name}}</td>
				<td>{{user.rights===1?"Sub Admin":"Normal User"}}</td>
				<td>{{user.email}}</td>
				<td>
				<button class="btn btn-info" title="Delete this user" data-ng-click="confirm(user.id)" accesskey="d"> <span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
				<button class="btn btn-info" title="Make Sub Admin" data-ng-click="makeAdmin(user.id)" ng-if="user.rights==2" accesskey="a"><span class="glyphicon glyphicon-thumbs-up">
				</span></button>
				<button class="btn btn-info" title="Make Normal User" data-ng-click="deleteAdmin(user.id)" ng-if="user.rights==1" accesskey="a"><span class="glyphicon glyphicon-thumbs-down"></span></button>
				</td>
			</tr>
		</table>
		<div class="col-md-offset-4">
		<button type="button" class="btn btn-primary" ng-disabled="curPage == 0" ng-click="previous()"> &lt; PREV</button>
 		<span>Page {{curPage + 1}}</span>
 		<button type="button" class="btn btn-primary" ng-disabled="curPage >= numberOfPages/pageSize - 1" ng-click="next();">NEXT &gt;
 		</button>
		</div>
	</div>
</div>