<div class="panel panel-info" data-ng-controller="displayUserCtrl">
	<div class="panel-heading">
	Display of All users
	</div>
	<div class="panel-body">

	<div class="form-group col-md-4">
	<input class="form-control input-md" type="text" placeholder="Enter Users Name" data-ng-model="name">
	</div>
	<div class="form-group  col-md-4">
	<select ng-model="rights" class="form-control">
		<option ng-value="1" selected>SubAdmin</option>
		<option ng-value="2">Normal User</option>
	</select>
	</div>
	<div class="form-group  col-md-4">
	<input class="form-control input-md" type="text" placeholder="Enter Email Id" data-ng-model="email">
	</div>
	<table class="table table-striped">
		<tr>
			<td>ID</td>
			<td>Name</td>
			<td>Type</td>
			<td>Email</td>
			<td>Actions</td>
		</tr>|filter:name|filter:email
		<tr data-ng-repeat="user in users|filter:rights">
			<td>{{$index+1+range}}</td>
			<td>{{user.name}}</td>
			<td>{{user.rights===1?"Sub Admin":"Normal User"}}</td>
			<td>{{user.email}}</td>
			<td><button class="btn btn-info" data-ng-click="confirm(user.id)" accesskey="d"> <span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
			<button class="btn btn-info" data-ng-click="makeAdmin(user.id)" accesskey="a"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></button></td>
		</tr>
	</table>
		<div class="col-md-offset-5">
		<div class="btn-group">
          <a class="btn btn-default" ng-click="previous()" ng-show="range!=0"><i class="fa fa-arrow-left"></i></a>
   		  <a class="btn btn-default">{{range}}</a>
          <a class="btn btn-default" ng-click="next()"><i class="fa fa-arrow-right"></i></a>
        </div>
	</div>

	</div>
</div>