<div class="panel panel-info">
  <div class="panel-body">
    <div class="form-group">
      <div class="col-md-1">
        <label>Internet</label>
        <input type="checkbox" name="internet"  data-ng-model="internet"/>
      </div>
    <div class="col-md-1">
        <label>Projector</label>
      <input type="checkbox" name="projector"  data-ng-model="projector"/>
    </div>
    <div class="col-md-1">
      <label>Screen</label><br>
      <input type="checkbox" name="screen" data-ng-model="screen"/>
    </div>
    <div class="col-md-1">
      <label>Board</label><br>
      <input type="checkbox" name="board" data-ng-model="board"/>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-2">
      <input type="number" name="capactiy" data-ng-model="capacity" placeholder="Capacity " class="form-control input-md" required/>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-2">
      <input type="number" name="machines" data-ng-model="machines" placeholder="Machines" class="form-control input-md" required/>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-2">
      <input type="number" name="tables" data-ng-model="tables" placeholder="Tables" class="form-control input-md" required/>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-2">
      <select class="form-control" ng-model="roomid">
        <option ng-repeat="room in rooms | filter:projector|filter:capacity|filter:screen|filter:board|filter:internet" ng-value="room.id">{{room.roomName}}</option>
      </select>
    </div>
  </div>
  <br>
  <div class="form-group">
    <div class="col-md-2">
      <button class="btn btn-info" ui-sref="profileUser.requestRoom({ id:'566c18890f9dadffad29c068'})">Book Room</button>
    </div>
  </div>
</div>
</div>