<div class="panel panel-info" ng-controller="HandleRequestCtrl">
	<div class="panel-heading">
	New Bookings Request
	</div>
	<div class="panel-body">
	<table class="table table-striped">
		<tr>
			<td>Room Name</td>
			<td>Status</td>
			<td>StartDate</td>
			<td>EndDate</td>
			<td>startTime</td>
			<td>endTime</td>
			<td>Actions</td>
		</tr>
		<!-- Todo:filter is filtering data on that value only not anyother value -->
		<tr data-ng-repeat="booking in bookings">
			<td>{{booking.room.roomName}}</td>
			<td>{{booking.status}}</td>
			<td>{{booking.startDate | date:dd:MM:yyyy}}</td>
			<td>{{booking.endDate | date:dd:MM:yyyy}}</td>
			<td>{{booking.startDate | date:'h:mma'}}</td>
			<td>{{booking.endDate | date:'h:mma'}}</td>
			<td>
			 <button class="btn btn-info" title="Update {{room.roomName}}" data-ng-click="accept(booking)">
			 <span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
			 <button class="btn btn-info" title="Update {{room.roomName}}" data-ng-click="reject(booking)">
			 <span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
			</td>
		</tr>
	</table>

</div>
</div>