<div class="col-md-12">
<div class="col-md-4">
<!--     <div ng-include="'views/carousel.html'"></div> -->
</div>
<div class="col-md-4 ">
<div data-ng-controller="loginCtrl">
<div class="panel panel-info">
<div class="panel-heading">Login to Room Management</div>
<div class="panel-body">
<form class="form-horizontal" name="Login" novalidate>
<fieldset>
<div class="form-group">
  <div class="col-md-12">
  	<input type="text" name="email" data-ng-model="email" data-ng-change="show()"  required  placeholder="Enter Email" class="form-control input-md" required/>
  
 </div>
</div>

<div class="form-group">
  <div class="col-md-12">
  <input type="password" name="password" data-ng-model="password" required placeholder="Enter Your Password" class="form-control input-md" required/>
  </div>
</div>
<div class="form-group">
  <label class="col-md-12 control-label"></label>
  <div class="col-md-12">
    <button  data-ng-click="login()" ng-disabled="Login.$invalid" value="Add Room" class="btn btn-primary btn-xlarge"><i class="glyphicon glyphicon-user"></i> Login</button>

  </div>
</div>
</fieldset>
</form>
</div>
</div>
</div>
</div>