<div ng-controller="adminProfileCtrl">
	<div class="col-md-3">
		<ul class="list-group">
		  <li class="list-group-item"><a ui-sref="profileAdmin.viewRoom">View All Room</a></li>
		  <li class="list-group-item">
		  <a ui-sref="profileAdmin.createRoom">Create Room</a></li>
		  <li class="list-group-item"><a ui-sref="profileAdmin.displayUsers">View All Users</a></li>
		  <li class="list-group-item"><a ui-sref="profileAdmin.createUser">Create User</a></li>
		  <li class="list-group-item"><a ui-sref="profileAdmin.HandleRequest">New Booking Requests</a></li>
		</ul>
	</div>
	<div class="col-md-9">
		<div ui-view class="slide"></div>
	</div>
</div>